@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500;900&display=swap');
:root {
  --rich-black-fogra-39: #0a0908ff;
  --rich-black-fogra-39-transparent: #0a090899;
  --dark-purple: #1e091eff;
  --mint-cream: #edf7f6ff;
  --purple: #5024b6ff;
  --purple-transparent: #5024b666;
  --maize-crayola: #f9c846ff;
  --maize-crayola-transparent: #f9c84666;
  --eerie-black: #221f1bff;
  --eerie-black-transparent: #221f1bcc;
  --alice-blue: #e9f1f7ff;
  --spanish-gray: #94958bff;
  --spanish-gray-transparent: #94958b66;
  --orange-soda: #f06543ff;
  --orange-soda-transparent: #f0654366;
  --dark-pastel-green: #4cb944ff;
  --dark-pastel-green-transparent: #4cb9446;
  --azure: #3185fcff;
  --azure-transparent: #3185fc66;
  --wild-blue-yonder: #99b2ddff;
  --wild-blue-yonder-transparent: #99b2dd66;
  --success: var(--dark-pastel-green);
  --success-transparent: var(--dark-pastel-green-transparent);
  --danger: var(--orange-soda);
  --danger-transparent: var(--orange-soda-transparent);
  --link: var(--azure);
  --link-transparent: var(--azure-transparent);
  font-family: 'Montserrat', sans-serif;
}

html {
  scroll-padding-top: 5rem;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

.dark {
  --bg-color: var(--rich-black-fogra-39);
  --bg-color-transparent: var(--rich-black-fogra-39-transparent);
  --text-color: var(--spanish-gray);
  --text-contrast: var(--mint-cream);
  --hover: var(--alice-blue);
  --nav-color: var(--eerie-black-transparent);
  --primary: var(--purple);
  --primary-transparent: var(--purple-transparent);
  --accent: var(--maize-crayola);
  --accent-transparent: var(--maize-crayola-transparent);
  --icon-color: var(--mint-cream);
}

.light {
  --bg-color: var(--mint-cream);
  --text-color: var(--eerie-black);
  --text-contrast: var(--rich-black-fogra-39);
  --nav-color: var(--alice-blue);
  --primary: var(--purple);
  --primary-transparent: var(--purple-transparent);
  --accent: var(--maize-crayola);
  --accent-transparent: var(--maize-crayola-transparent);
  --icon-color: var(--eerie-black);
}

.App {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}

p,
h1,
h2,
h3 {
  color: var(--text-color);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--link);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  height: 2.5rem;

  background-color: transparent;
  border: none;
  color: var(--text-color);

  font-family: 'Montserrat', sans-serif;
}
.btn:hover:not(:disabled) {
  cursor: pointer;
  border-color: var(--btn-color);
  outline: var(--btn-color) solid 0.08rem;
}

.hollow,
.hollow:hover {
  --btn-color: var(--accent);
  --btn-text: var(--primary);
}

.hollow:active,
.hollow:disabled {
  --btn-color: var(--accent-transparent);
  --btn-text: var(--text-color);
}

.full,
.full:hover {
  --btn-color: var(--purple);
  --btn-text: var(--alice-blue);
}

.full:active {
  --btn-color: var(--primary-transparent);
  --btn-text: var(--text-color);
}

.brand {
  text-decoration: none;
  color: var(--text-color);
}
.brand:hover {
  color: var(--hover);
  transition: color 0.2s;
}

.navbar {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 100;

  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;

  margin: 0.3rem;
  min-height: 4rem;

  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border: var(--spanish-gray-transparent) solid 0.08rem;
  border-radius: 1.2rem;
  box-sizing: content-box;

  backdrop-filter: blur(3rem);
  -webkit-backdrop-filter: blur(4px);

  padding-inline: 1.2rem;
  overflow: hidden;
  background-color: var(--nav-color);
  transition: all 250ms ease;
}

.navbar-nav {
  display: flex;
  justify-content: flex-end;

  margin-left: auto;
  min-height: 4rem;
}
.navbar-nav * {
  margin-inline: 0.2rem;
}
.navbar-nav .btn,
.modal .btn {
  font-weight: bold;
  letter-spacing: 1px;
  min-width: 6rem;

  -webkit-box-shadow: 0 8px 32px 0 var(--purple-transparent);
  box-shadow: 0 8px 32px 0 var(--purple-transparent);
  border: var(--purple-transparent) solid 0.08rem;
  border-radius: 0.8rem;

  padding-inline: 0.8rem;

  background: var(--btn-color);
  color: var(--btn-text);
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 6rem;
}

.navbar-menu {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  min-height: 4rem;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-item button,
.menu-item a {
  display: flex;
  align-items: center;
  justify-content: center;

  background: none;
  border: none;

  min-width: 2rem;
  padding: 0;
  color: var(--icon-color);
  cursor: pointer;
}
.menu-item button .toggled,
.menu-item a .toggled {
  color: var(--primary);
}

.wrapper {
  position: relative;
  width: 100%;
  height: 4rem;
}

.wrapper .overflow {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}

.nav-trans-enter-done {
  min-height: 8rem;
}
.nav-trans-exit-active {
  min-height: 4rem;
}

/* modal and backdrop styling */

.backdrop {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0;
  height: 100vh;
  width: 100vw;

  backdrop-filter: blur(3rem);
  -webkit-backdrop-filter: blur(3rem);
  cursor: pointer;
  z-index: 1000;
}

.modal {
  position: relative;
  width: clamp(20%, 30rem, 80%);
  padding: min(10%, 4rem) min(8%, 3rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: var(--spanish-gray-transparent) solid 0.08rem;
  border-radius: 1.2rem;
  background-color: var(--nav-color);
  backdrop-filter: blur(3rem);
  -webkit-backdrop-filter: blur(4px);
  outline: 200vh solid var(--primary-transparent);
  cursor: initial;
  transition: all 2s ease;
  z-index: 1001;
}
.modal form {
  display: flex;
  flex-direction: column;
  z-index: 1002;
}

.modal input {
  -webkit-appearance: none;
  color: var(--text-color);
  font-size: 1rem;
  margin-bottom: 1.6rem;
  border-top: none;
  border-inline: none;
  border-radius: 0.8rem;
  padding-inline: 1rem;
  height: 3rem;
  background: var(--bg-color-transparent);
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  z-index: 1003;
}

.modal input:first-child {
  margin-top: 1.6rem;
}

.modal input:focus {
  outline: none;
}

.modal button {
  margin-inline: auto;
}

/* modal and backdrop styling */

/* helpers */

.form-control {
  border-bottom: solid;
  border-color: var(--primary);
  -webkit-box-shadow: 0 0.5rem 1rem 0 var(--primary-transparent);
  box-shadow: 0 0.5rem 1rem 0 var(--primary-transparent);
}
.form-control:focus {
  border-bottom: solid;
  border-color: var(--spanish-gray);
  -webkit-box-shadow: 0 0.5rem 1rem 0 var(--spanish-gray-transparent);
  box-shadow: 0 0.5rem 1rem 0 var(--spanish-gray-transparent);
}

.valid {
  color: var(--success);
}

.success {
  border-color: var(--success);
  -webkit-box-shadow: 0 0.5rem 1rem 0 var(--success-transparent);
  box-shadow: 0 0.5rem 1rem 0 var(--success-transparent);
}

.invalid {
  color: var(--danger);
}

.danger {
  border-color: var(--danger);
  -webkit-box-shadow: 0 0.5rem 1rem 0 var(--danger-transparent);
  box-shadow: 0 0.5rem 1rem 0 var(--danger-transparent);
}

.errmsg {
  color: var(--danger);
  background-color: var(--danger-transparent);
  border: var(--danger) solid 0.08rem;
}

.instructions {
  color: var(--text-contrast);
  background-color: var(--primary-transparent);
  border: var(--primary) solid 0.08rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

/* helpers */

/* post */
.post {
  
  position: relative;
  font-size: 0.9rem;
  background-color: var(--nav-color);
  border: var(--spanish-gray-transparent) solid 0.08rem;
  border-radius: 0.6em;
  margin-bottom: 1rem;
  overflow: hidden;
  box-shadow: 0 0.25rem 0.8rem 0rem var(--primary-transparent);
}
.post header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: var(--primary);
  padding: 0 0.5rem 0.25em 1em;
}
.post section {
  padding-inline: 2rem;
}
.post-info {
  align-self: flex-end;
  margin: 0;
  font-size: 0.7rem;
}
.post h2,
.post h3,
.post h4,
.post h5 {
  color: var(--text-contrast);
  font-weight: 500;
}
.post h2 {
  align-self: flex-start;
  font-size: 1.8em;
  margin: 0.8rem 0 0 0;
}
.light .post h2,
.light .post-info {
  color: var(--mint-cream);
  --link: var(--wild-blue-yonder);
}
.post h3 {
  font-size: 1.5em;
}
.post h4 {
  font-size: 1.2em;
}
.post h5 {
  font-size: 1em;
}
.post del {
  color: var(--danger);
}
.post strong {
  color: var(--accent);
}
.post img {
  max-width: calc(100vw - 4rem);
  max-height: 75vh;
  border-radius: 0.2rem;
  padding-block: 0.5em;
}

.post-preview {
  cursor: pointer;
}
.post-preview .post-body {
  max-height: 60vh;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(black 80%, transparent);
  mask-image: linear-gradient(black 80%, transparent);
}
.post-preview:hover {
  box-shadow: 0 0.25rem 1rem 0 var(--primary);
}

.interact {
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.interact * {
  min-width: 2.5rem;
}
.interact a {
  padding: 1px 6px;
}
.to-post {
  display: none;
}
.post-preview .to-post {
  display: flex;
  flex-grow: 5;
  color: transparent;
  transition: all 200ms ease-in-out;
}
.post-preview .to-post:hover,
.post-preview .to-post:focus {
  color: inherit;
}

/* post */

/* feed */
.feed {
  display: flex;
  flex-direction: column;
}
/* feed */

/* content is a placeholder div in App */
.content {
  min-height: 100vh;
  max-width: 1024px;
  margin-inline: auto;
}

/* Small Screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
  }

  .navbar-nav {
    display: none;
    justify-content: center;
  }

  .brand {
    display: none;
  }

  .post {
    border-radius: 0;
  }
  .interact {
    justify-content: center;
  }
  .to-post {
    display: none;
  }
}

.nav-man-enter {
  display: flex;
  opacity: 0;
}
.nav-man-enter-active {
  display: flex;
  opacity: 1;
  transition: opacity 500ms;
}
.nav-man-enter-done {
  display: flex;
  opacity: 1;
}
.nav-man-exit {
  display: flex;
  opacity: 1;
}
.nav-man-exit-active {
  display: flex;
  opacity: 0;
  transition: opacity 500ms;
}

@media only screen and (max-height: 550px) {
  .navbar {
    justify-content: center;

    margin: 0 0 0.3rem 0;
    height: 3rem;

    border-radius: 0 0 0.8rem 0.8rem;
  }

  .navbar-nav {
    display: none;
  }
}

/* Large Screens */
@media only screen and (min-width: 600px), only screen and (max-height: 550px) {
  .navbar {
    top: 0;

    flex-wrap: nowrap;
    align-items: center;
    max-height: 4rem;
  }

  .navbar-menu {
    display: none;
  }

  .content {
    padding-top: 5rem;
  }

  main {
    width: calc(100% / 3 * 2);
  }
}

/* Prefers reduced motion */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition-delay: 0.01ms !important;
  }
}
